In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from configs import password

In [2]:
chipotle_file = 'Resources/chipotle.csv'
chipotle_df = pd.read_csv(chipotle_file)

#display head
chipotle_df.head()

,state,location,address,latitude,longitude
0,AL,Auburn,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328
1,AL,Birmingham,"300 20th St S Birmingham, AL 35233 US",33.509722,-86.802756
2,AL,Birmingham,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437
3,AL,Birmingham,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279
4,AL,Cullman,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220

In [3]:
cities_file = 'Resources/cities.csv'
cities_df = pd.read_csv(cities_file)

#display head
cities_df.head()

,Table_Id,City,Summary_Level,Place_Fips,Geo_Id,State,State_Fips,Total_Population
0,100001,Coffman Cove,160,16360,16000US0216360,AK,2,150
1,100002,Cohoe,160,16420,16000US0216420,AK,2,1577
2,100003,Cold Bay,160,16530,16000US0216530,AK,2,46
3,100004,Coldfoot,160,16630,16000US0216630,AK,2,10
4,100005,College,160,16750,16000US0216750,AK,2,14675

In [4]:
#pull only important columns
chipotle_df = chipotle_df[['state', 'location']]

#rename columns to fit sql table
chipotle_df = chipotle_df.rename(columns = {'state' : 'state_', 'location' : 'city'})

In [5]:
#group by city to count the number of chipotle locations in each city
grouped = chipotle_df.groupby('city').count()
grouped = grouped.reset_index()

#added grouped df column to original chipotle df
merged = chipotle_df.merge(grouped, on = 'city')

#re-rename the columns to match sql table
temp = merged.rename(columns = {'state__x' : 'state_', 'state__y' : 'total'})

#clean by dropping duplicates
chipotle_clean = temp.drop_duplicates()
chipotle_clean = chipotle_clean.reset_index(drop = True)

#display df
chipotle_clean.head()

  state_        city  total
0     AL      Auburn      2
1     CA      Auburn      2
2     AL  Birmingham      3
3     AL     Cullman      1
4     AL      Hoover      1

In [6]:
#pull important city columns
cities_df = cities_df[['Table_Id', 'City', 'State', 'Total_Population']]

#rename the columns and set the index to match the sql table
cities_df = cities_df.rename(columns = {'Table_Id': 'table_id', 'State' : 'state_', 'City' : 'city', 'Total_Population' : 'population'})
cities_clean = cities_df.set_index('table_id')

#display df
cities_clean.head()

                  city state_  population
table_id
100001    Coffman Cove     AK         150
100002           Cohoe     AK        1577
100003        Cold Bay     AK          46
100004        Coldfoot     AK          10
100005         College     AK       14675

In [9]:
#create connection
connection_string = f'postgresql://postgres:{password}@localhost:5432/chipotle'
engine = create_engine(connection_string)

In [10]:
#display table names
engine.table_names()

['chipotle_locations', 'city_populations']

In [11]:
#Load chipotle_locations into database
chipotle_clean.to_sql(name='chipotle_locations', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "chipotle_locations_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO chipotle_locations (index, state_, city, total) VALUES (%(index)s, %(state_)s, %(city)s, %(total)s)]
[parameters: ({'index': 0, 'state_': 'AL', 'city': 'Auburn', 'total': 2}, {'index': 1, 'state_': 'CA', 'city': 'Auburn', 'total': 2}, {'index': 2, 'state_': 'AL', 'city': 'Birmingham', 'total': 3}, {'index': 3, 'state_': 'AL', 'city': 'Cullman', 'total': 1}, {'index': 4, 'state_': 'AL', 'city': 'Hoover', 'total': 1}, {'index': 5, 'state_': 'AL', 'city': 'Huntsville', 'total': 2}, {'index': 6, 'state_': 'TX', 'city': 'Huntsville', 'total': 2}, {'index': 7, 'state_': 'AL', 'city': 'Mobile', 'total': 2}  ... displaying 10 of 1521 total bound parameter sets ...  {'index': 1519, 'state_': 'ND', 'city': 'Fargo', 'total': 2}, {'index': 1520, 'state_': 'WY', 'city': 'Cheyenne', 'total': 1})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
#Load city_populations into database
cities_clean.to_sql(name='city_populations', con=engine, if_exists='append', index=True)